In [1]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

# Q1)

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [4]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

In [5]:
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[1]")
for i in name:
    if i.text is None :
        Rank.append("--") 
    else:
        Rank.append(i.text)
Rank[0:4]

['1.', '2.', '3.', '4.']

In [6]:
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[2]/a[1]")
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
Name[0:4]

['Baby Shark Dance', 'Despacito', 'Shape of You', 'See You Again']

In [7]:
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr//td[3]/a")
for i in name:
    if i.text is None :
        Artist.append("--") 
    else:
        Artist.append(i.text)
Artist[0:4]

['Pinkfong', 'Luis Fonsi', 'Ed Sheeran', 'Wiz Khalifa']

In [8]:
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[5]")
for i in name:
    if i.text is None :
        Upload_date.append("--") 
    else:
        Upload_date.append(i.text)
Upload_date[0:4]

['June 17, 2016', 'January 12, 2017', 'January 30, 2017', 'April 6, 2015']

In [9]:
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tr/td[4]")
for i in name:
    if i.text is None :
        Upload_date.append("--") 
    else:
        Upload_date.append(i.text)
Upload_date[0:4]

['8.09', '7.24', '5.21', '4.99']

In [10]:
import pandas as pd
df=pd.DataFrame({})
df['Ranks']=Rank[0:10]
df['Names']=Name[0:10]
df['Artists']=Artist[0:10]
df['Upload_dates']=Upload_date[0:10]
df['Views']=Views[0:10]
df

,Ranks,Names,Artists,Upload_dates,Views
0,1.,Baby Shark Dance,Pinkfong,"June 17, 2016",8.09
1,2.,Despacito,Luis Fonsi,"January 12, 2017",7.24
2,3.,Shape of You,Ed Sheeran,"January 30, 2017",5.21
3,4.,See You Again,Wiz Khalifa,"April 6, 2015",4.99
4,5.,Johny Johny Yes Papa,Mark Ronson,"October 8, 2016",4.90
5,6.,Uptown Funk,Psy,"January 31, 2012",4.42
6,7.,Gangnam Style,Cocomelon – Nursery Rhymes,"November 19, 2014",4.11
7,8.,Sorry,ChuChu TV,"July 15, 2012",4.00
8,9.,Sugar,Justin Bieber,"February 27, 2018",3.74
9,10.,Roar,Maroon 5,"May 2, 2018",3.74

# Q2)

In [87]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.bcci.tv")

In [79]:
from selenium.webdriver.common.action_chains import ActionChains

button=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.implicitly_wait(10)
ActionChains(driver).move_to_element(button).click(button).perform()

In [80]:
match_title=[]
series=[]
place=[]
date=[]
time=[]

In [81]:
name=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']//p//strong")
for i in name:
    if i.text is None :
        match_title.append("--") 
    else:
        match_title.append(i.text)
match_title[0:4]

['1st T20I', '2nd T20I', '3rd T20I', '4th T20I']

In [82]:
name=driver.find_elements_by_xpath("//div[@class='fixture__info u-skewed']//div//span[2]")
for i in name:
    if i.text is None :
        series.append("--") 
    else:
        series.append(i.text)
series[0:4]

['INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021',
 'INDIA V ENGLAND 2021']

In [83]:
name=driver.find_elements_by_xpath("//div[@class='fixture__description u-unskewed-text']//p//span")
for i in name:
    if i.text is None :
        place.append("--") 
    else:
        place.append(i.text)
place[0:4]

['Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad',
 'Narendra Modi Stadium, Ahmedabad']

In [84]:
name=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span[1]")
for i in name:
    if i.text is None :
        date.append("--") 
    else:
        date.append(i.text)
date[0:4]

['12', '14', '16', '18']

In [85]:
name=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
for i in name:
    if i.text is None :
        time.append("--") 
    else:
        time.append(i.text)
time[0:4]

['19:00 IST', '19:00 IST', '19:00 IST', '19:00 IST']

In [86]:
import pandas as pd
df=pd.DataFrame({})
df['Match_title']=match_title
df['Series']=series
df['Place']=place
df['Date']=date
df['Time']=time
df

,Match_title,Series,Place,Date,Time
0,1st T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",12,19:00 IST
1,2nd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",14,19:00 IST
2,3rd T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",16,19:00 IST
3,4th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",18,19:00 IST
4,5th T20I,INDIA V ENGLAND 2021,"Narendra Modi Stadium, Ahmedabad",20,19:00 IST
5,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23,13:30 IST
6,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26,13:30 IST
7,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28,13:30 IST
8,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04,15:30 IST
9,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12,15:30 IST
10,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25,15:30 IST
11,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02,15:30 IST
12,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10,15:30 IST

# Q3)

In [88]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.guru99.com")

In [90]:
button=driver.find_element_by_xpath("//ul[@id='java_technologies']//li[3]//a")
button.click()

In [94]:
button=driver.find_element_by_xpath("//table[@class='table']//tr[34]//td//a")
button.click()

In [95]:
Name=[]
Description=[]

In [97]:
name=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[1]")
for i in name:
    if i.text is None :
        Name.append("--") 
    else:
        Name.append(i.text)
Name[0:4]

['Exception name',
 'ElementNotVisibleException',
 'ElementNotSelectableException',
 'NoSuchElementException']

In [98]:
name=driver.find_elements_by_xpath("//table[@class='table table-striped']//tbody//tr//td[2]")
for i in name:
    if i.text is None :
        Description.append("--") 
    else:
        Description.append(i.text)
Description[0:4]

['Description',
 'This type of Selenium exception occurs when an existing element in DOM has a feature set as hidden.',
 'This Selenium exception occurs when an element is presented in the DOM, but you can be able to select. Therefore, it is not possible to interact.',
 'This Exception occurs if an element could not be found.']

In [99]:
import pandas as pd
df=pd.DataFrame({})
df['Name']=Name[1:]
df['Description']=Description[1:]
df

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Q5)

In [135]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://github.com")

In [136]:
button=driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded-1 color-bg-primary px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']//ul[2]//li[3]//a")
button.click()

In [137]:
Repository_title=[]
Repository_description=[]
Contributors_count=[]
Language_used=[]

In [145]:
name=driver.find_elements_by_xpath("//span[@class='text-normal']")
for i in name:
    if i.text is None :
        Repository_title.append("--") 
    else:
        Repository_title.append(i.text)
Repository_title[0:4]

['dolthub /', 'openai /', 'google /', 'flutter /']

In [146]:
name=driver.find_elements_by_xpath("//p[@class='col-9 color-text-secondary my-1 pr-4']")
for i in name:
    if i.text is None :
        Repository_description.append("--") 
    else:
        Repository_description.append(i.text)
Repository_description[0:4]

["Dolt – It's Git for Data",
 'Contrastive Language-Image Pretraining',
 'Googletest - Google Testing and Mocking Framework',
 'Flutter makes it easy and fast to build beautiful apps for mobile and beyond.']

In [151]:
name=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/a[2]")
for i in name:
    if i.text is None :
        Contributors_count.append("--") 
    else:
        Contributors_count.append(i.text)
Contributors_count[0:4]

['93', '213', '7,270', '16,396']

In [152]:
name=driver.find_elements_by_xpath("//div[@class='f6 color-text-secondary mt-2']/span[1]")
for i in name:
    if i.text is None :
        Language_used.append("--") 
    else:
        Language_used.append(i.text)
Language_used[0:4]

['Go', 'Jupyter Notebook', 'C++', 'Dart']

In [155]:
import pandas as pd
df=pd.DataFrame({})
df['Repository_title']=Repository_title[0:20]
df['Repository_description']=Repository_description[0:20]
df['Contributors_count']=Contributors_count[0:20]
df['Language_used']=Language_used[0:20]
df

,Repository_title,Repository_description,Contributors_count,Language_used
0,dolthub /,Dolt – It's Git for Data,93,Go
1,openai /,Contrastive Language-Image Pretraining,213,Jupyter Notebook
2,google /,Googletest - Google Testing and Mocking Framework,"7,270",C++
3,flutter /,Flutter makes it easy and fast to build beauti...,"16,396",Dart
4,git /,Git Source Code Mirror - This is a publish-onl...,"21,036",C
5,dwisiswant0 /,"Scanning APK file for URIs, endpoints & secrets.",109,Python
6,coolsnowwolf /,Lean's OpenWrt source,"13,236",C
7,Developer-Y /,List of Computer Science courses with video le...,"3,001",Built by
8,gskinnerTeam /,"A platform adaptive Flutter app for desktop, m...",185,Dart
9,connor-create /,D2Go is a toolkit for efficient deep learning,22,Python
10,facebookresearch /,Exchange Server support tools and scripts,14,Python
11,microsoft /,Unit testing tips by examples in PHP,35,PowerShell
12,sarven /,A curated list of engineering blogs,8,Built by
13,kilimchoi /,AZ-104 Microsoft Azure Administrator,284,Ruby
14,MicrosoftLearning /,A Collection of application ideas which can be...,"1,172",PowerShell
15,florinpop17 /,📝 Algorithms and data structures implemented i...,"5,252",Built by
16,trekhleb /,翻墙、免费翻墙、免费科学上网、免费节点、免费梯子、免费ss/ssr/v2ray/trojan...,"16,416",JavaScript
17,freefq /,A new type of shell,"1,247",Built by
18,nushell /,A sustainable architecture for Ruby on Rails.,518,Rust
19,Shopify /,Must-read papers on graph neural networks (GNN),14,Ruby

# Q6)

In [181]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.billboard.com/")

In [187]:
button=driver.find_element_by_xpath("//ul[@class='header__submenu__list']/li[1]/a")
button.click()

In [188]:
Song_name=[]
Artist_name=[]
Last_week_rank=[]
Peak_rank=[]
Weeks_on_board=[]

In [189]:
name=driver.find_elements_by_xpath("//button[@class='chart-element__wrapper display--flex flex--grow sort--this-week']/span[2]/span[1]")
for i in name:
    if i.text is None :
        Song_name.append("--") 
    else:
        Song_name.append(i.text)
Song_name[0:4]

['Drivers License', 'Up', 'Go Crazy', '34+35']

In [190]:
name=driver.find_elements_by_xpath("//button[@class='chart-element__wrapper display--flex flex--grow sort--this-week']/span[2]/span[2]")
for i in name:
    if i.text is None :
        Artist_name.append("--") 
    else:
        Artist_name.append(i.text)
Artist_name[0:4]

['Olivia Rodrigo', 'Cardi B', 'Chris Brown & Young Thug', 'Ariana Grande']

In [191]:
name=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]")
for i in name:
    if i.text is None :
        Last_week_rank.append("--") 
    else:
        Last_week_rank.append(i.text)
Last_week_rank[0:4]

['1', '5', '8', '2']

In [192]:
name=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[3]")
for i in name:
    if i.text is None :
        Peak_rank.append("--") 
    else:
        Peak_rank.append(i.text)
Peak_rank[0:4]

['1', '2', '3', '17']

In [193]:
name=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[4]")
for i in name:
    if i.text is None :
        Weeks_on_board.append("--") 
    else:
        Weeks_on_board.append(i.text)
Weeks_on_board[0:4]

['7', '3', '42', '11']

In [194]:
import pandas as pd
df=pd.DataFrame({})
df['Song_name']=Song_name[0:20]
df['Artist_name']=Artist_name[0:20]
df['Last_week_rank']=Last_week_rank[0:20]
df['Peak_rank']=Peak_rank[0:20]
df['Weeks_on_board']=Weeks_on_board[0:20]
df

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,7
1,Up,Cardi B,5,2,3
2,Go Crazy,Chris Brown & Young Thug,8,3,42
3,34+35,Ariana Grande,2,17,11
4,Blinding Lights,The Weeknd,1,64,25
5,Save Your Tears,The Weeknd,6,4,16
6,Mood,24kGoldn Featuring iann dior,1,29,8
7,Calling My Phone,Lil Tjay Featuring 6LACK,3,2,16
8,Positions,Ariana Grande,1,18,17
9,Levitating,Dua Lipa Featuring DaBaby,5,21,12
10,What You Know Bout Love,Pop Smoke,12,10,27
11,Therefore I Am,Billie Eilish,13,2,7
12,Back In Blood,Pooh Shiesty Featuring Lil Durk,16,13,12
13,Whoopty,CJ,15,10,28
14,For The Night,Pop Smoke Featuring Lil Baby & DaBaby,6,34,21
15,Dakiti,Bad Bunny & Jhay Cortez,21,5,19
16,Good Days,SZA,9,9,7
17,I Hope,Gabby Barrett Featuring Charlie Puth,3,61,3
18,You're Mines Still,Yung Bleu Featuring Drake,24,19,9
19,Better Together,Luke Combs,15,21,19

# Q7)

In [205]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.naukri.com")

In [206]:
search_job=driver.find_element_by_xpath("//input[@id='qsb-keyword-sugg']")
search_job.send_keys("Data Science")
button = driver.find_element_by_xpath("//div[@class='search-btn']")
button.click()

In [211]:
Designation=[]
Company=[]
Skill=[]
Location=[]

In [212]:
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
title[0:4]
for i in title:
    titles=i.text
    Name.append(titles)
Name[0:4]

names=driver.find_elements_by_xpath("//div[@class='mt-7 companyInfo subheading lh16']")
names[0:4]
for i in names:
    name=i.text
    Company.append(name)
Company[0:4]

locations=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']")
locations[0:4]
for i in locations:
    location=i.text
    Location.append(location)
Location[0:4]

['Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [213]:
locations=driver.find_elements_by_xpath("//ul[@class='tags has-description']")
locations[0:4]
for i in locations:
    location=i.text
    Skill.append(location)
Skill[0:4]

['Computer science\nData analysis\ndata science\nData management\nAnalytical\nMachine learning\napplication architecture\nHigh level design',
 'Data Science\nR\nMarketing Automation\nData Scientist\nData Analyst\nData Visualization Tools\nTableau\nTeradata',
 'Regression Algorithms\nNLP\nData Scientist\nArtificial Intelligence\nData Modeling\nData Warehousing\nData Analytics\nETL',
 'IT Skills\nJava\nPython\nData Science\nOracle\nQA\ndata science\nIntern']

In [214]:
import pandas as pd
df=pd.DataFrame({})
df['Name']=Name[0:10]
df['Company']=Company[0:10]
df['Location']=Location[0:10]
df['Skill']=Skill[0:10]
df

,Name,Company,Location,Skill
0,Senior Data Science Engineer,NetApp\n4.1\n(99 Reviews),Bangalore/Bengaluru,Computer science\nData analysis\ndata science\...
1,Data Science Lead - Marketing Analytics,AugmatrixGo,"Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram",Data Science\nR\nMarketing Automation\nData Sc...
2,Data Science/ Analysis Expert - Machine Learning,Catalyst,Bangalore/Bengaluru,Regression Algorithms\nNLP\nData Scientist\nAr...
3,QA Data Science Intern,ALTAIR DEVELOPERS PRIVATE LIMITED,Bangalore/Bengaluru,IT Skills\nJava\nPython\nData Science\nOracle\...
4,Data Science Developer,Birlasoft\n3.5\n(527 Reviews),Pune,IT Skills\nPython\nData Science\nMachine Learn...
5,Freshers - Data Science/ Machine Learning/ Ana...,CHANDRA PUMPS,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",IT Skills\nData Science\nData Science\nR\nArti...
6,Freshers - Data Science/ Machine Learning/ AI,Aahana,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",IT Skills\nData Science\nData Science\nBusines...
7,Lead Python (Data Science) Engineer,Tide Software,Hyderabad/Secunderabad,IT Skills\nPython\nTesting\nMachine Learning\n...
8,Analyst - Data Science / Data Scientist | Clie...,RUBOID TECHNOVISION PRIVATE LIMITED,Gurgaon/Gurugram,IT Skills\nPython\nData Science\nMachine Learn...
9,Analyst - Data Science / Data Scientist | Clie...,RUBOID TECHNOVISION PRIVATE LIMITED,Gurgaon/Gurugram,IT Skills\nPython\nData Science\nMachine Learn...

# Q9)

In [218]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.imdb.com/list/ls095964455")

In [220]:
Name=[]
Year=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

In [221]:
title=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
title[0:4]
for i in title:
    titles=i.text
    Name.append(titles)
Name[0:4]

['Game of Thrones', 'Stranger Things', 'The Walking Dead', '13 Reasons Why']

In [222]:
title=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/span[2]")
title[0:4]
for i in title:
    titles=i.text
    Year.append(titles)
Year[0:4]

['(2011–2019)', '(2016– )', '(2010– )', '(2017–2020)']

In [223]:
title=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[5]")
title[0:4]
for i in title:
    titles=i.text
    Genre.append(titles)
Genre[0:4]

['Action, Adventure, Drama',
 'Drama, Fantasy, Horror',
 'Drama, Horror, Thriller',
 'Drama, Mystery, Thriller']

In [224]:
title=driver.find_elements_by_xpath("//p[@class='text-muted text-small']/span[3]")
title[0:4]
for i in title:
    titles=i.text
    Run_time.append(titles)
Run_time[0:4]

['57 min', '51 min', '44 min', '60 min']

In [225]:
title=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div[1]/span[2]")
title[0:4]
for i in title:
    titles=i.text
    Ratings.append(titles)
Ratings[0:4]

['9.3', '8.7', '8.2', '7.6']

In [227]:
title=driver.find_elements_by_xpath("//div[@class='lister-item-content']/p[4]/span[2]")
title[0:4]
for i in title:
    titles=i.text
    Votes.append(titles)
Votes[0:4]

['1,778,772', '829,298', '857,019', '257,268']

In [228]:
import pandas as pd
df=pd.DataFrame({})
df['Name']=Name
df['Year']=Year
df['Genre']=Genre
df['Run_time']=Run_time
df['Ratings']=Ratings
df['Votes']=Votes
df

,Name,Year,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,778,772"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"829,298"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"857,019"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"257,268"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"217,824"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,772"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"54,103"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"162,314"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,209"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"183,970"

# Q10)

In [41]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://archive.ics.uci.edu")

In [51]:
button = driver.find_element_by_xpath("//td[@valign='top']/span[2]/a")
button.click()

In [61]:
Datasets_names=[]
Data_types=[]
Task=[]
Attribute_type=[]
No_of_instances=[]
No_of_attribute=[]
Year=[]

In [60]:
name=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[1]/p/a")
for i in name:
    if i.text is None :
        Datasets_names.append("--") 
    else:
        Datasets_names.append(i.text)
Datasets_names[0:4]

['Name']

In [62]:
name=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[2]/p/a")
for i in name:
    if i.text is None :
        Data_types.append("--") 
    else:
        Data_types.append(i.text)
Data_types[0:4]

['Data Types']

In [55]:
name=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[3]/p/a")
for i in name:
    if i.text is None :
        Task.append("--") 
    else:
        Task.append(i.text)
Task[0:4]

['Default Task']

In [56]:
name=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[4]/p/a")
for i in name:
    if i.text is None :
        Attribute_type.append("--") 
    else:
        Attribute_type.append(i.text)
Attribute_type[0:4]

['Attribute Types']

In [57]:
name=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[5]/p/a")
for i in name:
    if i.text is None :
        No_of_instances.append("--") 
    else:
        No_of_instances.append(i.text)
No_of_instances[0:4]

['# Instances']

In [58]:
name=driver.find_elements_by_xpath("//table[@border='1']/tbody/tr/td[6]/p/a")
for i in name:
    if i.text is None :
        No_of_attribute.append("--") 
    else:
        No_of_attribute.append(i.text)
No_of_attribute[0:4]

['# Attributes']

In [59]:
name=driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[7]//p//a")
for i in name:
    if i.text is None :
        Year.append("--") 
    else:
        Year.append(i.text)
Year[0:4]

['Year']

In [63]:
import pandas as pd
df=pd.DataFrame({})
df['Datasets_names']=Datasets_names
df['Data_types']=Data_types
df['Task']=Task
df['Attribute_type']=Attribute_type
df['No_of_instances']=No_of_instances
df['No_of_attribute']=No_of_attribute
df['Year']=Year
df

ValueError: Length of values does not match length of index

# Q4)

In [106]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("http://statisticstimes.com")

In [107]:
button = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
button.click()

In [108]:
button = driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
button.click()

In [109]:
button = driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")
button.click()

In [110]:
Ranks=[]
State=[]
GSDP19=[]
GSDP20=[]
Share3=[]
GDP=[]

In [111]:
name=driver.find_elements_by_xpath("//tr[@role='row']/td[1]")
for i in name:
    if i.text is None :
        Ranks.append("--") 
    else:
        Ranks.append(i.text)
Ranks[0:4]

['1', '2', '3', '4']

In [112]:
name=driver.find_elements_by_xpath("//tr[@role='row']/td[2]")
for i in name:
    if i.text is None :
        State.append("--") 
    else:
        State.append(i.text)
State[0:4]

['Maharashtra', 'Tamil Nadu', 'Uttar Pradesh', 'Gujarat']

In [113]:
name=driver.find_elements_by_xpath("//tr[@role='row']/td[3]")
for i in name:
    if i.text is None :
        GSDP19.append("--") 
    else:
        GSDP19.append(i.text)
GSDP19[0:4]

['-', '1,845,853', '1,687,818', '-']

In [114]:
name=driver.find_elements_by_xpath("//tr[@role='row']/td[4]")
for i in name:
    if i.text is None :
        GSDP20.append("--") 
    else:
        GSDP20.append(i.text)
GSDP20[0:4]

['2,632,792', '1,630,208', '1,584,764', '1,502,899']

In [115]:
name=driver.find_elements_by_xpath("//tr[@role='row']/td[5]")
for i in name:
    if i.text is None :
        Share3.append("--") 
    else:
        Share3.append(i.text)
Share3[0:4]

['13.88%', '8.59%', '8.35%', '7.92%']

In [116]:
name=driver.find_elements_by_xpath("//tr[@role='row']/td[6]")
for i in name:
    if i.text is None :
        GDP.append("--") 
    else:
        GDP.append(i.text)
GDP[0:4]

['398.145', '246.529', '239.656', '227.276']

In [117]:
import pandas as pd
df=pd.DataFrame({})
df['Ranks']=Ranks
df['State']=State
df['GSDP(18-19)']=GSDP19
df['GSDP(19-20)']=GSDP20
df['Share3']=Share3
df['GDP']=GDP
df

   Ranks                      State GSDP(18-19) GSDP(19-20)  Share3      GDP
0      1                Maharashtra           -   2,632,792  13.88%  398.145
1      2                 Tamil Nadu   1,845,853   1,630,208   8.59%  246.529
2      3              Uttar Pradesh   1,687,818   1,584,764   8.35%  239.656
3      4                    Gujarat           -   1,502,899   7.92%  227.276
4      5                  Karnataka   1,631,977   1,493,127   7.87%  225.798
..   ...                        ...         ...         ...     ...      ...
61    29                     Sikkim      28,391      25,141   0.15%   17,060
62    30                   Nagaland           -      24,534   0.15%        -
63    31          Arunachal Pradesh           -      22,488   0.13%        -
64    32                    Mizoram      24,424      20,947   0.12%   17,797
65    33  Andaman & Nicobar Islands           -           -       -        -

[66 rows x 6 columns]

# Q8)

In [118]:
driver=webdriver.Chrome("chromedriver.exe")
driver.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-greycompare")

In [119]:
# The url is unable to reach error 404